.search {
  margin: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search__button {
  padding: 5px 10px;
  border: 1px solid #5B8FB9;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 20px;
  color: #3C84AB;
  text-transform: capitalize;
}

.search__button:hover, .search__button:active, .search__button:focus {
  background: #5B8FB9;
  color: #E9F8F9;
}

.search__input-wrapper {
  position: relative;
}

.input {
  padding: 10px 0 10px 30px;
  border-radius: 5px;
  border: 1px solid #5B8FB9;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 14px;
  color: #537FE7;
  outline: none;
  background: none;
}

.input::placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 14px;
  color: #537FE7;
}

.search__input {
  width: 400px;
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 7px;
}