.cards__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards__wrapper-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 200;
  font-size: 30px;
  color: #03001C;
  text-align: center;
}

.loading-icon {
  animation: loading 2s linear 0 infinite;
}

.cards__button {
  padding: 5px 10px;
  margin: 5px 0 20px;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 20px;
  color: #3C84AB;
  text-transform: capitalize;
}

@keyframes loading {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}