.home {
  width: 100%;
  padding: 40px 10px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 510px) {
  .search__input {
    width: 300px;
  }
}