.home-card {
  position: relative;
  width: 300px;
  margin: 10px 10px;
  border: 1px solid rgba(3, 0, 28, 0.2);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.home-card__image-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid rgba(3, 0, 28, 0.2);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.home-card__image-wrapper:hover .home-card__title-japanese,
.home-card__image-wrapper:active .home-card__title-japanese,
.home-card__image-wrapper:focus .home-card__title-japanese {
  bottom: 0px;
}

.home-card__rate {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.home-card__rate-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.home-card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 20px;
  color: #03001C;
}

.home-card__info {
  width: 100%;
  padding: 0 5px 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 2px;
}

.home-card__info-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(40, 40, 42);
  text-transform: lowercase;
}

.home-card__info-text_blue {
  color: #5B8FB9;
  margin-right: 5px;
}

.home-card__title-japanese {
  position: absolute;
  bottom: -50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: all linear 0.25s;
}