.forms {
  width: 100%;
  padding: 0 10px 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
}

.forms__title {
  padding: 20px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 30px;
  color: #03001C;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

.forms__title-thin {
  font-weight: 300;
  font-size: 16px;
  text-transform: lowercase;
  color: #3cb043;
  opacity: 0.5;
}

.form__wrapper {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255,255,255,1), rgba(91,143,185,0.2) 50vw, rgba(255,255,255,1) 100vw);
}

.feedback__wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.forms__text-not-found {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 20px;
  color: rgba(3, 0, 28, 0.5);
}