* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* font-family: Georgia, 'Times New Roman', Times, serif; */
/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
